* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header h1 {
  justify-content: end;
  position: relative;
  font-size: 35px;
}

h1 {
  color: rgb(217, 243, 243);
  box-align: left;
  position: relative;
  flex-wrap: wrap;
  background-size: auto;
  background-attachment: fixed;
  font-size: 50px;
}

header a {
  text-decoration: none;
  color: rgb(217, 243, 243);
  font-size: 40px;
  padding: 10px 15px;
  text-decoration: underline;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  /* z-index: 9999; */
  background-image: url(./images/new-banner.jpg);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  padding: 10px;
}

section {
  display: flex;
  align-items: center;
  padding: 40px 10px;
}

section h2 {
  width: 25%;
  font-size: 80px;
}

section>div {
  width: 75%;
  border-left: solid rgb(79, 79, 194) 5px;
  padding: 50px;
}

header nav ul li a:hover {
  font-size: 2.10vw;
  font-weight: lighter;
}

.hero {
  background-image: url("./images/new-banner.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  width: auto;
  height: 500px;
}

.hero h2 {
  color: rgb(217, 243, 243);
  position: absolute;
  font-size: 60px;
}

div p {
  line-height: 1.7;
  font-size: 30px;
  border-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 15px;
}

.grid-item {
  border: 2px solid;
  min-height: 150px;
}

.grid-item.main {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url(./images/musix.JPG);
  background-position: center;
}

#contact-links {
  display: flex;
  justify-content: space-evenly;
}